{% extends "webapp/header.html" %}

{% block title %} БЛОГ - Главная {% endblock %}

{% block data %}
		<header>
			<h1>Django public blog</h1>
		</header>
		{% for post in posts %}
			<article class="article">
				<h1><a href="{% url 'articles' pk=post.id %}">{{post.title}}</a></h1>
				<div class="article__about">
					<p>{{post.author}}</p>
					<p>{{post.create}}</p>
				</div>
				<div class="article__text">
					{{post.text}}
				</div>
			</article>
		{% endfor %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
		$(".article__text").text(function(i, text) {

		  if (text.length >= 140) {
		    text = text.substring(0, 140);
		    var lastIndex = text.lastIndexOf(" ");
		    text = text.substring(0, lastIndex) + '...'; 
		  }
		  
		  $(this).text(text);
		  
		});
		</script>
{% endblock %}